.container
  %h2 Edit Profile
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, 'アバター', class: 'mark'
    %div
      = f.file_field :avatar, class: 'file'
    %div
      = f.label :nickname, 'ハンドルネーム', class: 'mark'
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.label :introduction, '自己紹介', class: 'mark'
    %div
      = f.text_area :introduction, class: 'area'

    = f.submit 'Submit', class: 'btn-submit'
