.container
  %h2 会員登録情報の変更・退会
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email, class: 'mark'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :password, class: 'mark'
      %br/
      - if @minimum_password_length
        %em
          ( #{@minimum_password_length}文字以上で入力して下さい。 )
        %br/
      %i (変更しない場合は空白にしてください。)
      = f.password_field :password, autocomplete: "new-password", class: 'text'
    .field
      = f.label :password_confirmation, "パスワード ( 確認用 ）", class: 'mark'
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'text'
    .field
      = f.label :current_password, class: 'mark'
      %br/
      %i (ユーザー情報を変更するには現在のパスワードが必要です。)
      %br/
      = f.password_field :current_password, autocomplete: "current-password", class: 'text'
    .actions
      = f.submit "Submit", class: 'btn-submit'
  %h3.cancel-account 退会手続き
  = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "本当に退会してもよろしいですか？" }, method: :delete, class: 'btn-cancel'
  -# %p
  -#   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn-cancel'}