.container
  %h2.page_title= @task.title

  .card
    .card_detail
      - if @task.eyecatch.attached?
        .card_eyecatch
          = image_tag @task.eyecatch 
      .card_title
        = @task.title
      .card_content
        = @task.content
      .card_deadline
        = @task.deadline
      .card_user
        = image_tag @task.user.avatar_image

  %h2.comment_title Comment

  - @comments.each do |comment|
    .comment 
      .comment_user 
        = image_tag comment.user.avatar_image
      .comment_contnt
        = comment.content