.container
  .page
    %h2.page_title= @task.title

  - if @task.eyecatch.attached?
    .card_eyecatch
      .show_eyecatch
        = image_tag @task.eyecatch

  .card
    .card_detail
      .card_content
        = @task.content
      .card_deadline
        %p deadline
        = @task.display_deadline
      .card_user
        = image_tag @task.user.avatar_image

  %h2.comment_title Comment

  - @comments.each do |comment|
    .comment 
      .comment_user 
        = image_tag comment.user.avatar_image
      .comment_contnt
        = comment.content

  = link_to '+ Add new comment', new_board_task_comment_path(@task.board, @task), class: 'page_new'