.container
  %h2.page_title All Boards

  - @boards.each do |board|
    .card
      .card_detail
        .card_top
          .card_title
            = board.title
          .dropdown
            .card_right
              = image_tag 'actions.svg'
            .dropdown_content.index_dropdown
              = link_to 'detail', board_path(board)
              - if user_signed_in? && current_user.has_board_written?(board)
                = link_to 'edit', edit_board_path(board), class: 'bottom_btn'
                = link_to 'delete', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }, class: 'bottom_btn'
        = link_to board_path(board) do
          .card_content
            = board.content
          .card_user
            = image_tag board.user.avatar_image

  = link_to '+ Add new board', new_board_path, class: 'page_new'
