.container
  %h2.page_title= @board.title

  - @tasks.each do |task|
    .card
      .card_detail
        .card_title
          = task.title
        .card_content
          = task.content
        .card_deadline
          = task.deadline
        .card_user
          = image_tag task.user.avatar_image

= link_to '編集する', edit_board_path(@board)
= link_to '削除する', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' }