.container
  .page
    %h2.page_title= @board.title

  - @tasks.each do |task|
    .card
      .card_detail
        - if task.eyecatch.attached?
          .card_eyecatch
            = image_tag task.eyecatch
        .card_top
          .card_title
            = task.title
          .dropdown
            .card_right 
              = image_tag 'actions.svg'
            .dropdown_content.index_dropdown
              = link_to 'detail', board_task_path(task.board, task)
              - if user_signed_in? && current_user.has_task_written?(task)
                = link_to 'edit', edit_board_task_path(task.board, task), class: 'bottom_btn'
                = link_to 'delete', board_task_path(task.board, task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }, class: 'bottom_btn'
        = link_to board_task_path(task.board, task) do
          .card_content
            = task.content
          .card_deadline
            %p deadline
            = task.display_deadline
          .card_user
            .card_user_image
              = image_tag task.user.avatar_image
            .card_user_information 
              = task.user.display_name
              %br
              = task.created_updated_at


  = link_to '+ Add new task', new_board_task_path(@board), class: 'page_new'